.about-body-container {
  width: 100%;
  position: relative;
  background-color: #222831;
  z-index: 1;
  padding-top: 10em;
}

.about-container {
  margin-bottom: 5em;
}

.about-content {
  padding-top: 3em;
  padding-bottom: 5em;
}

.about-name {
  text-align: center;
  color: white;
  font-family: "Kanit", sans-serif;
  font-size: calc(1.5vw + 5em);
  font-weight: 600;
  margin-bottom: 1em;
}

.about-blurb,
.about-me {
  font-size: calc(1.5vw + .2em);
  color: white;
  font-family: "Kanit", sans-serif;
  font-weight: 250;
  line-height: 1.5em;

}

.blurb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.img2-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.img2 {
  width: calc(1.5vw + 25em);
}

.resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8em;
}

.resume {
  position: relative;
  color: #8bced2;
  font-family: "Kanit", sans-serif;
  font-size: 3em;
}

.resume-link {
  margin-left: .5em;
}

.resume:hover {
  text-decoration: none;
  color: white;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15em;
  margin-bottom: 2em
}

.video {
  height: 30em;
}


.circleContainer-about {
  position: relative;
  background-color: #222831;
}

.circle-about {
  height: 3000%;
  width: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #222831;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}

@media (max-width: 991px) {

  .about-body-container {
    padding-top: 5em;
  }

  .video-container {
    margin-top: 5em;
  }

  .video {
    height: 25em;
  }

  .img2 {
    width: 20em;
    margin-top: 2em;
  }
}

@media (max-width: 768px) {
  .circle-about {
    border-radius: 0 0 75% 75%;
    height: 500%;
  }

  .about-name {
    margin-bottom: .5em;
  }

  .about-container {
    margin-bottom: 4em;
  }

  .img2 {
    width: 15em;
    margin-top: 2em;
  }

  .video-container {
    margin-top: 5em;
  }

  .video {
    height: 20em;
  }
}

@media (max-width: 768px) {
  .video {
    height: 15em;
  }
}

@media (max-width: 480px) {

  .about-body-container {
    padding-top: 2em;
  }

  .about-name {
    font-size: 4em;
    margin-top: 1em;
  }

  .about-blurb {
    font-size: 1em;
  }

  .resume-container {
    margin-bottom: 4em;
  }

  .resume {
    margin-top: 2em;
  }

  .about-me {
    font-size: 1em;
  }

  .video-container {
    margin-top: 5em;
  }

  .video {
    height: 12em;
  }
}