.body-container {
  width: 100%;
  position: relative;
  background-color: #222831;
  z-index: 1;
}

.content {
  background-color: #222831;
  padding-top: 12em;
  padding-bottom: 5em;
  position: relative;
}

.circleContainer {
  position: relative;
  background-color: #222831;
}

.circle {
  height: 3000%;
  width: 100%;
  border-radius: 0 0 50% 50%;
  background-color: #222831;
  z-index: 1;
  position: absolute;
  box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
}

@media (max-width: 768px) {
  .circle {
    border-radius: 0 0 75% 75%;
    height: 750%;
  }
}


p {
  color: white;
  font-family: "Kanit", sans-serif;
}

.blurb {
  font-size: 1.75em;
}

.about-link-container {
  display: flex;
  justify-content: center;
}

.about-link {
  color: #8bced2;
  font-size: 3em;
  padding-top: 1em;
  position: relative;
  display: inline-block;
  font-family: "Kanit", sans-serif;
}

.about-link:hover {
  color: white;
  text-decoration: none;
}

.recent {
  font-size: 5em;
  font-weight: 600;
  color: #8bced2;
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 991px) {
  .blurb {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: .5em;
  }

  .about-link {
    font-size: 2.5em;
  }

  .content {
    padding-top: 7em;
  }

  .recent {
    font-size: 2.75em;
    font-weight: 500;
    margin-top: 2.5em;
    margin-bottom: 0;
  }
}