.footer {
  height: 100vh;
  width: 100vw;
  background-color: #13191d;
  color: white;
  font-family: "Kanit", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 0;
}

.footer-body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.foot-container {
  margin-top: 10em;
  text-align: center;
  margin-bottom: 15em;
}

.foot-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6em;
}

.img-container {
  margin-right: 1em;
}

.foot-img {
  width: 7em;
  border-radius: 50%;
}

.open-work {
  font-size: calc(1.5vw + 5em);
  font-weight: 500;
  margin-bottom: 0;
}



.contact-link {
  position: relative;
  display: inline-block;
  color: #8bced2;
  margin: 0 2em;
  font-size: calc(1.5vw + 1em);
}

.email {
  color: #8bced2;
  margin: 0 2em;
  font-size: calc(1.5vw + 1em);
}

.email:hover,
.contact-link:hover {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.foot {
  position: absolute;
  bottom: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  margin-bottom: 2em;
}

.foot-left {
  margin-left: 6em;
  display: flex;
  align-items: center;
}

.footer-link {
  color: #8bced2;
  margin-right: 2em;
  font-size: calc(1.5vw + 2.5em);
  position: relative;
  display: inline-block;
}

.time {
  color: rgb(173, 173, 173);
  margin-bottom: 0;
  font-size: calc(1.5vw + .25em);
}

.footer-link:hover {
  color: white;
}

/* Responsive styling */
@media (max-width: 991px) {
  .open-work {
    font-size: calc(2vw + 4em);
    /* Adjusted responsive font size */
  }
}

@media (max-width: 768px) {
  .open-work {
    font-size: 4em;
  }

  .foot-title {
    margin-bottom: 5em;
  }

  .foot-img {
    width: 5em;
  }

  .email,
  .contact-link {
    font-size: 1.5em;
    display: block;
  }

  .email-contact {
    flex-direction: column;
  }

  .email,
  .contact-link {
    margin: 0.5em 0;
  }

  .email {
    margin-bottom: 2em;
  }
}

@media (max-width: 480px) {

  .foot-container {
    margin-top: 5em;
  }

  .foot-title {
    margin-bottom: 5em;
    padding-top: 5em;
  }

  .open-work {
    font-size: 2em;
  }

  .foot-img {
    width: 5em;
  }

  .email,
  .contact-link {
    font-size: 1.25em;
  }

  .email {
    margin-bottom: 2em;
  }

  .foot {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
  }

  .footer-link {
    margin-right: 0;
  }

  .foot-right {
    margin-right: 0;
  }

  .foot-left {
    margin-left: 0;
  }

  .github {
    margin-right: 1em;
  }

  .time {
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 1em;
  }
}