html {
  width: 100%;
}

body {
  background-color: #76ABAE;
  overscroll-behavior: none;
  overflow-x: hidden;
}

.content {
  background-color: #222831;
}

.content {
  padding-top: 12em;
  padding-bottom: 10em;
}

p {
  color: white;
  font-family: "Kanit", sans-serif;
}

.blurb {
  font-size: 1.75em;
}

.about-link-container {
  display: flex;
  justify-content: center;
}

.about-link {
  color: #8bced2;
  font-size: 3em;
  padding-top: 1em;
  position: relative;
  display: inline-block;
  font-family: "Kanit", sans-serif;
}

.about-link:hover {
  color: white;
  text-decoration: none;
}

.recent {
  font-size: 5em;
  font-weight: 600;
  color: #8bced2;
  margin-top: 2em;
  text-align: center;
}

@media (max-width: 991px) {
  .blurb {
    font-size: 1.5em;
    margin-left: 1em;
    margin-right: .5em;
  }

  .about-link {
    font-size: 2.5em;
  }

  .content {
    padding-top: 7em;
  }

  .recent {
    font-size: 2.75em;
    font-weight: 500;
    margin-top: 2.5em;
    margin-bottom: 0;
  }
}