html,
body {
  width: 100%;
}

.fixed {
  position: absolute;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.5em;
  margin-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Kanit", sans-serif;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #222831;
}

button.navbar-toggler {
  background: white;
  margin-top: 2em;
  margin-right: 2em;
  font-size: 2em;
}

button.navbar-toggler.collapsed {
  background: #84c1c4;
  border: none;
  border-radius: 30px;
  width: 2em;
  display: flex;
  justify-content: center;
}

button.navbar-toggler:hover {
  background: white;
}

.navbar-toggler-icon {
  /* color: white; */
  /* it's an image */
}

.nav-container .container {
  width: 90%;
}