html,
body {
  width: 100%;
}

.brand {
  display: flex;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 1.5em;
  margin-top: 1.5em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0C356A;
}

button.navbar-toggler.collapsed {
  background: white;
  border: none;
}

button.navbar-toggler {
  background: white;
  border: none;
}

button.navbar-toggler:hover {
  background: #0C356A;
}